# Virtual environment stuff

venv

# Compiled python objects

*.pyc
*.pyo

# Development databases

*.db

# Ignore machine specific configuration

local_settings.py

# Ignore static and media files

/staticfiles/
/mediafiles/
